@inject Microsoft.Extensions.Localization.IStringLocalizer<ManageMembers> _localizer

@*<HeroTitle Title="@TeamName" Description="@Description" />*@
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>
    @if (!_loaded)
    {
        <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    }
    else
    {
        <MudTable Hover="true" Elevation="25" Items="TeamMembers" Dense="true">
            <ToolBarContent>
                <div class="justify-center mud-text-align-center">               
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="SaveAsync" ButtonType="ButtonType.Submit">@_localizer["Update Team Members"]</MudButton>                
                </div>
                <MudToolBarSpacer />            
                <MudTextField @bind-Value="_searchString" Immediate="true" FullWidth=false Placeholder="@_localizer["Search For Member"]" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>@_localizer["Firstname"]</MudTh>
                <MudTh>@_localizer["Surname"]</MudTh>
                <MudTh Style="text-align: right">@_localizer["Status"]</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="@_localizer["Firstname"]">
                    <MudHighlighter Text="@context.Firstname" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="@_localizer["Surname"]">
                    <MudHighlighter Text="@context.Lastname" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel="Status"  Style="text-align: right"><MudCheckBox @bind-Checked="@context.IsSelected" Color="Color.Secondary" Class="mr-auto"></MudCheckBox></MudTd>
            </RowTemplate>
            @*<FooterContent>
                <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
                <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
                <MudSwitch @bind-Checked="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">@_localizer["Bordered"]</MudSwitch>
            </FooterContent>*@
            <PagerContent>
                <TablePager />
            </PagerContent>
        </MudTable>
    }

