@page "/core/employees"
@attribute [Authorize(Policy = Permissions.Employees.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Employees> _localizer
@using RuS.Application.Features.Employees.Queries.GetAllPaged;


<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="@_localizer["Employees"]" Description="@_localizer["Manage Employees"]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<GetAllPagedEmployeesResponse>>>(ServerReload))" Hover="true" Dense="@_dense" Striped="@_striped" @ref="_table">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateEmployees)
                {
                    <MudButton DisableElevation Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => EmployeeDetails(0))" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
                    @if (_canExportEmployees)
                    {
                        <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
                    }
                }
                else
                {
                    <MudButton DisableElevation Variant="Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
                    @if (_canExportEmployees)
                    {
                        <MudButton DisableElevation Variant="Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
                    }
                }
            </div>
            <MudToolBarSpacer />
            @if (_canSearchEmployees)
            {
                <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="@_localizer["Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="EmployeeNo">@_localizer["Employee No"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="Firstname">@_localizer["Firstname"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="Lastname">@_localizer["Lastname"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="MiddleName">@_localizer["Middle Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="Company">@_localizer["Company"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="CellphoneNo">@_localizer["Cellphone No"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedEmployeesResponse" SortLabel="Email">@_localizer["Email"]</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>            
            <MudTd DataLabel="Employee No">
                <MudHighlighter Text="@context.EmployeeNo" HighlightedText="@_searchString" />
            </MudTd>           
            <MudTd DataLabel="Firstname">
                <MudHighlighter Text="@context.FirstName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Lastname">
                <MudHighlighter Text="@context.LastName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Middle Name">
                <MudHighlighter Text="@context.MiddleName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Company">@context.CompanyName</MudTd>
            <MudTd DataLabel="Cellphone No">
                <MudHighlighter Text="@context.CellphoneNo" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Email">
                <MudHighlighter Text="@context.Email" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Actions" Style="text-align: right">
                @if (_canEditEmployees || _canDeleteEmployees)
                    {
                    <MudMenu Label="@_localizer["Actions"]" Variant="Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                        @if (_canEditEmployees)
                            {
                            <MudMenuItem @onclick="@(() => EmployeeDetails(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                            }
                        @if (_canDeleteEmployees)
                            {
                            <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                            }
                    </MudMenu>
                    }
                    else
                    {
                    <MudButton Variant="Variant.Filled"
                               DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch"
                               IconColor="Color.Secondary"
                               Size="Size.Small"
                               Color="Color.Surface">
                        @_localizer["No Allowed Actions"]
                    </MudButton>
                    }
            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudSwitch @bind-Checked="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">@_localizer["Dense"]</MudSwitch>
            <MudSwitch @bind-Checked="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">@_localizer["Striped"]</MudSwitch>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}