@page "/project/projects/add/"
@page "/project/projects/edit/{Id:int}"
@attribute [Authorize(Policy = Permissions.Projects.Edit)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<AddEditProject> _localizer

<Header OnClose="Cancel" Title="@_localizer["Project"]" Description="@_localizer["Manage Project"]" />

<MudExpansionPanels DisableBorders="true" MultiExpansion="true" DisableGutters="true" Elevation="25" Class="mb-2">
    <EditForm Model="_command" OnValidSubmit="SaveAsync">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Settings" class="mr-3"></MudIcon>
                    <MudText>Details</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudItem xs="12" sm="12" md="12">
                    <MudCard Elevation="0" Class="mb-2">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                @if (Id == 0)
                                {
                                    <MudAvatar Size="Size.Medium" Color="Color.Success"><b>+</b></MudAvatar>
                                }
                                else
                                {
                                    <MudAvatar Size="Size.Medium" Color="Color.Primary"><b>+</b></MudAvatar>
                                }
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                @if (Id != 0)
                                {

                                    <MudText Typo="Typo.h6">@_localizer["Update"]</MudText>
                                }
                                else
                                {
                                    <MudText Typo="Typo.h6">@_localizer["Add"]</MudText>
                                }
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent Class="py-0">
                            <MudGrid Class="px-2">
                                <MudItem xs="12" sm="6" md="4">
                                    <MudAutocomplete T="int" Label="@_localizer["Site"]"
                                                     For="@(() => _command.SiteId)"
                                                     @bind-Value="_command.SiteId"
                                                     ResetValueOnEmptyText="true" SearchFunc="@SearchSites"
                                                     Variant="Variant.Text"
                                                     Margin="Margin.Dense"
                                                     ToStringFunc="@(i => _sites.FirstOrDefault(b => b.Id == i)?.Name ?? string.Empty)"
                                                     OffsetY="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <MudAutocomplete T="int" Label="@_localizer["Client"]"
                                                     For="@(() => _command.ClientId)"
                                                     @bind-Value="_command.ClientId"
                                                     ResetValueOnEmptyText="true" SearchFunc="@SearchClients"
                                                     Variant="Variant.Text"
                                                     Margin="Margin.Dense"
                                                     ToStringFunc="@(i => _clients.FirstOrDefault(b => b.Id == i)?.Name ?? string.Empty)"
                                                     OffsetY="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <MudTextField @bind-Value="@_command.Name"
                                                  For="@(() => _command.Name)"
                                                  Label="@_localizer["Name"]"
                                                  Variant="Variant.Text"
                                                  Adornment="Adornment.End"
                                                  Margin="Margin.Dense"
                                                  AdornmentIcon="@Icons.Filled.Work" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <MudAutocomplete T="int" Label="@_localizer["Category"]"
                                                     For="@(() => _command.CategoryId)"
                                                     @bind-Value="_command.CategoryId"
                                                     ResetValueOnEmptyText="true" SearchFunc="@SearchCategories"
                                                     Variant="Variant.Text"
                                                     Margin="Margin.Dense"
                                                     ToStringFunc="@(i => _categories.FirstOrDefault(b => b.Id == i)?.Name ?? string.Empty)"
                                                     OffsetY="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <MudAutocomplete T="int" Label="@_localizer["Priority"]"
                                                     For="@(() => _command.PriorityId)"
                                                     @bind-Value="_command.PriorityId"
                                                     ResetValueOnEmptyText="true" SearchFunc="@SearchPriorities"
                                                     Variant="Variant.Text"
                                                     Margin="Margin.Dense"
                                                     ToStringFunc="@(i => _priorities.FirstOrDefault(b => b.Id == i)?.Name ?? string.Empty)"
                                                     OffsetY="true" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <MudAutocomplete T="int" Label="@_localizer["Status"]"
                                                     For="@(() => _command.StatusId)"
                                                     @bind-Value="_command.StatusId"
                                                     ResetValueOnEmptyText="true" SearchFunc="@SearchStatuses"
                                                     Variant="Variant.Text"
                                                     Margin="Margin.Dense"
                                                     ToStringFunc="@(i => _statuses.FirstOrDefault(b => b.Id == i)?.Name ?? string.Empty)"
                                                     OffsetY="true" />
                                </MudItem>
                                <MudItem xs="12" sm="12" md="12">
                                    <MudTextField @bind-Value="@_command.Description"
                                                  For="@(() => _command.Description)"
                                                  Label="@_localizer["Description"]"
                                                  Variant="Variant.Text"
                                                  Adornment="Adornment.End"
                                                  Margin="Margin.Dense"
                                                  AdornmentIcon="@Icons.Filled.Description" />
                                </MudItem>
                                <MudItem xs="12" sm="12" md="12">
                                    <MudTextField @bind-Value="@_command.ScopeOfWork"
                                                  For="@(() => _command.ScopeOfWork)"
                                                  Label="@_localizer["Scope Of Work"]"
                                                  Variant="Variant.Text"
                                                  Adornment="Adornment.End"
                                                  Margin="Margin.Dense"
                                                  AdornmentIcon="@Icons.Filled.Description" />
                                </MudItem>
                                <MudItem xs="12" sm="6" md="6">
                                    <MudDatePicker @ref="_picker" Label="Estimated Start" @bind-Date="_command.Start" For="@(() => _command.Start)" AutoClose="@autoClose">
                                        <PickerActions>
                                            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                                        </PickerActions>
                                    </MudDatePicker>
                                </MudItem>
                                <MudItem xs="12" sm="6" md="6">
                                    <MudDatePicker @ref="_picker" Label="Estimated End" @bind-Date="_command.End" For="@(() => _command.End)" AutoClose="@autoClose">
                                        <PickerActions>
                                            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                                        </PickerActions>
                                    </MudDatePicker>
                                </MudItem>
                                <MudItem xs="12" sm="6" md="6">
                                    <MudDatePicker @ref="_picker" Label="Actual Start" @bind-Date="_command.ActualStart" For="@(() => _command.ActualStart)" AutoClose="@autoClose">
                                        <PickerActions>
                                            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                                        </PickerActions>
                                    </MudDatePicker>
                                </MudItem>
                                <MudItem xs="12" sm="6" md="6">
                                    <MudDatePicker @ref="_picker" Label="Actual End" @bind-Date="_command.ActualEnd" For="@(() => _command.ActualEnd)" AutoClose="@autoClose">
                                        <PickerActions>
                                            <MudButton Class="mr-auto align-self-start" OnClick="@(() => _picker.Clear())">Clear</MudButton>
                                            <MudButton OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                                            <MudButton Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                                        </PickerActions>
                                    </MudDatePicker>
                                </MudItem>
                            </MudGrid>
                        </MudCardContent>
                        <MudCardActions Class="my-2">
                            <MudSpacer />
                            @if (Id != 0)
                            {
                                <MudButton DisableElevation Style="margin-right:7px;" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Secondary">@_localizer["Update"]</MudButton>
                            }
                            else
                            {
                                <MudButton DisableElevation Style="margin-right:7px;" Variant="Variant.Filled" ButtonType="ButtonType.Submit" Disabled="@(!Validated)" Color="Color.Success">@_localizer["Save"]</MudButton>
                            }
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.GroupWork" class="mr-3"></MudIcon>
                    <MudText>Tasks</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (_command.Id != 0)
                {
                    <ProjectTasks Id="@_command.Id" />
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.HomeWork" class="mr-3"></MudIcon>
                    <MudText>Teams</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @if (_command.Id != 0)
                {
                    <ProjectTeams Id="@_command.Id" />
                }
            </ChildContent>
        </MudExpansionPanel>
        <MudExpansionPanel>
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Icon="@Icons.Material.Filled.Message" class="mr-3"></MudIcon>
                    <MudText>Discussions</MudText>
                </div>
            </TitleContent>
            <ChildContent>
                <MudCard Elevation="0" Outlined="false" Class="mb-1">
                    <MudToolBar>
                        <MudFab Color="Color.Success" Size="Size.Small" OnClick="@(() => InvokeAdd(Id))" IconSize="Size.Small" Icon="@Icons.Material.Filled.Add" aria-label="add" />
                        <MudFab Color="Color.Secondary" Size="Size.Small" OnClick="@LoadDiscussions" IconSize="Size.Small" Icon="@Icons.Material.Filled.Refresh" Style="margin-left: 5px;" aria-label="refresh" />
                        <MudFab Color="Color.Secondary" Size="Size.Small" IconSize="Size.Small" Icon="@Icons.Custom.FileFormats.FileExcel" Style="margin-left: 5px;" aria-label="export" />
                        <MudSpacer />
                    </MudToolBar>
                </MudCard>
                @if (_discussions.Count > 0)
                {
                    foreach (var discussion in _discussions)
                    {
                        <DiscussionCard Discussion="@discussion" OnEditSelection="@(() => InvokeEdit(discussion.Id))" OnDeleteSelection="@(() => InvokeDelete(discussion.Id))"/>
                    }
                }
            </ChildContent>
        </MudExpansionPanel>
    </EditForm>
</MudExpansionPanels>
